[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "==3.0.4"
djangorestframework = "==3.11.2"
pillow = "==7.0.0"
django-cleanup = "*"
django-filter = "*"
psycopg2 = "*"
django-environ = "*"
django-cors-headers = "==3.2.1"
flake8 = "==3.7.9"
pyyaml = "==5.3"
uritemplate = "*"
asgiref = "==3.2.5"
sqlparse = "==0.3.1"
django-better-admin-arrayfield = "*"

[requires]
python_version = "3.7"
